@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  margin: 0;
  padding: 0;
}

:root {
  --red: #c12127;
  --blue: #225f7e;
  --dark-blue: #263547;
  --text-red: #ed575a;
  --text-orange: #f19230;
  --text-blue: #34495d;
  --text-gray: #545861;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Navbar */

.navbar {
  display: flex;
  background-color: var(--red);
  color: rgba(255, 255, 255, 0.7);
  padding: 8px 12px;
  justify-content: space-between;
}

.heart {
  font-size: 1.5em;
}

.heart,
.top-links a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.heart:hover,
.acronym:hover,
.top-links a:hover {
  color: white;
}

.top-left,
.top-links {
  display: flex;
  align-items: center;
}

.heart,
.top-links li {
  list-style: none;
  margin: 0 15px;
}

/* Header */

#header {
}

.npm-logo {
}

.search-package {
}

.login-signup {
}

/* Section 1 */

#orgs {
}

/* Section 2 */

#general-info {
}

/* Section 3 */

#build {
}

.features {
}
